* { 
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-color: rgb(206, 206, 213);
    transition: .3s ease all;
}

body.dark {
    background-color: rgb(25, 25, 33);
}

.header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 1rem 3rem;
    }

body.dark header{
    background-color: #838794;
}

.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}
.switch::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
}

.switch.active {
    background: orange;
    color: black;
}

.switch.active::after {
    left: unset;
    right: 0;
}

.switch span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    background: none;
    color: #fff;

}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 250px;
    float: left;
    /* transform: translateX(-50%); */
    /* margin: 0 auto; */
    /* margin-left: 50%; */
    /* margin-top: 10rem; */
    margin-bottom: 4rem;
    border: none;
    border-radius: 15px;
    /* display: flex;
    flex-direction: column; */
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.card img {
    width: 210px;
    /* height: 210px; */
    align-items: center;
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px!important;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    text-align: left!important;

    /* margin-left: 1.5rem; */
}

.card-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;

}

body.dark .card{
    background: #343d5b;
}
body.dark .card h1{
color: antiquewhite;
}
body.dark .card-text {
    color: antiquewhite;
}
body.dark .card a{
    color: #a6b3df;
}

.bienvenida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* width: 100%!important; */
}

body.dark .bienvenida h1{
    color: antiquewhite;
    }

    body.dark .bienvenida h2{
        color: antiquewhite;
        }

        body.dark .bienvenida h4{
            color: antiquewhite;
            }

.bienvenida h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 2rem;
}

.bienvenida h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;

}

.bienvenida h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 2REM;
}

.main {
    margin-top: 160px;
    width: 100%;
    /* padding: 3rem; */
}

.btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-left: 1.5rem;
}

.botoninicio {
    border: none;
    background-color: navy;    
    margin-top: 1rem;
    color: rgb(226, 226, 230);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

body.dark .botoninicio{
    background-color: #343d5b;
    }

.botoninicio:hover {
    background-color: rgb(45, 64, 128);
    border-color: none;
}


.footer {
    margin-top: 1rem;
    background-color: rgb(41, 64, 147);
    opacity: 100%;
    position: fixed;
    bottom: 0;  
    left: 0;
    width: 100%;
    /* z-index: 1000; */
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: rgb(255, 255, 255);
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.footer__iconosRedesSociales {
    display: flex;
    width: 4rem;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    align-content: flex-end;
    opacity: 1;
    margin-right: 2rem;
    
}

.footer__iconosRedesSociales :hover{
    opacity: 0.7;
    transition: opacity 1s ease-out;
    }


.basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .swal2-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
} */

.labelUser{
    padding-top: 15px;
    padding-bottom: 15px;
}

.siNo{
    display: flex;
    flex-direction: row;
}


.formUser{
    display: flex;
    flex-direction: column;
    text-align: center;
}

body.dark form label .fa-solid{
    color: antiquewhite;
}

form label .fa-solid{
    font-size: 20px;
    color: #343d5b;
    margin-right: 10px;
}

body.dark form label input{
    background-color: rgb(70, 70, 70);
    border-bottom: solid 1px antiquewhite;
    color: #e6e6e6;

}

form label input{
    outline: none;
    border: none;
    color: #343d5b;
    border-bottom: solid 1px rgb(41, 64, 147);
    padding: 5px;
    font-size: 18px;
}

body.dark form label input::placeholder{
    color: #bebebe;
}


form label input::placeholder{
    color: #5d6786;
    font-family: 'Open Sans', sans-serif;
}


.botonUser{
    color: antiquewhite;
    border: none;
    background-color: #5d6786;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-radius: 0.5rem;

}


.baseClima {
    background-color: #838794;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* padding-top: 2rem; */
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 4rem;
    width: 100%;
    position: fixed;
    bottom: 8%;  
    left: 0;
}

.baseClima__A {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.baseClima__B {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 100%;
}
.baseClima__B--temp {
    margin-right: 1rem;
    color: rgb(0, 0, 0);
}

.baseClima__B--devTemp {
    color: rgb(57, 57, 57);
}

.baseClima__input{
    margin-left: 1rem;
}
.baseClima__btn{
    border: none;
    background-color: rgb(189, 189, 189);    
    color: rgb(0, 0, 0);
    padding: 0.4rem;
    border-radius: 0.2rem;
    margin-left: 1rem;
    margin-right: 2rem;
    font-family: 'Open Sans', sans-serif;
}